<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="Death Ride Art Probe" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="true" android:screenOrientation="landscape" />
    </application>
</manifest>
